<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8">
        <title>Listado de Libros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/lista_libros.js}"></script>
        <style>
            body {
                padding-top: 20px;
                padding-bottom: 40px;
              }

            .cabeza-hoja{
                padding: 20px;
            }

             ._row{
                padding:10px;
             }
             ._table-bordered{
                border: 1px solid;
             }


        </style>
    </head>
    <body>
        <div class="container border border-primary">
            <div class="row border border-dark cabeza-hoja ">
                <div class="col">
                    <!-- <a class="btn btn-outline-primary" th:href="@{/nuevo_book}" >Agregar</a> --->
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#agregarModal" >
                        Agregar
                    </button>
                </div>
            </div>
            <div class="divider py-1 bg-dark"></div>
            <!-----
            <div class="row ">
                <div class="col">
                    <div class="text-center" >Listado de libros</div>
                    <table class="table table-sm table-bordered ">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-th-each="book: ${books}" >
                                <td data-th-text="${book.title}" ></td>
                                <td data-th-text="${book.author}" ></td>
                                <td>
                                    <a th:href="@{'/edit_book/{id}'(id=${book.id})}" >Editar</a>
                                    <a href="#"  th:attr="onclick=|borrar('${book.id}')|" >Borrar</a>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
            --->
            <div class="divider py-2"></div>

            <div class="row">
                <div class="col">
                    <div class="text-center">Listado de libros</div>
                    <div class="container">
                        <div class="row justify-content-center" data-th-each="book: ${books}">
                            <div class="col-11 col-md-6 col-lg-4">
                                <div class="card border-primary mb-3" style="max-width: 18rem;">
                                    <div th:id="'author'+${book.id}" class="card-header" data-th-text="'Author: ' + ${book.author}"  >Header</div>
                                    <div class="card-body text-primary">
                                        <h5 th:id="'titulo_'+${book.id}" class="card-title text-uppercase" data-th-text="${book.title}" ></h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                    <div class="card-footer" >
                                        <div class="row ">
                                            <div class="col">
                                                <!--- <a class="btn btn-outline-success" th:href="@{'/edit_book/{id}'(id=${book.id})}" >Editar</a> --->
                                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" th:attr="onclick=|cargarModal('${book.id}')|" >
                                                    Editar
                                                </button>
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-outline-danger" href="#"  th:attr="onclick=|borrar('${book.id}')|" >Borrar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal agregar -->
        <div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarModalLabel">Agregar nuevo Libro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="agregarmyForm" action="#"  >
                            <input type="hidden" class="form-control" id="agregar_id_libro" name="id_libro"  >
                            <table>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <label for="title">Titulo del lbro</label>
                                            <input type="text" class="form-control" id="agregar_title" name="title" aria-describedby="titleHelp" placeholder="Titulo del lbro" >
                                            <small id="agregaremailHelp" class="form-text text-muted">Titulo del lbro.</small>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <label for="author">Author del lbro</label>
                                            <input type="text" class="form-control" id="agregar_author" name="author" aria-describedby="authorHelp" placeholder="Author del lbro" >
                                            <small id="agregarauthorHelp" class="form-text text-muted">Author del lbro.</small>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success" onclick="enviarNuevoLibro()" >Agregar nuevo libro</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal editar -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edición de Libro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="myForm" action="#"  >
                            <input type="hidden" class="form-control" id="id_libro" name="id_libro"  >
                            <table>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <label for="title">Titulo del lbro</label>
                                            <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" placeholder="Titulo del lbro" >
                                            <small id="emailHelp" class="form-text text-muted">Titulo del lbro.</small>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <label for="author">Author del lbro</label>
                                            <input type="text" class="form-control" id="author" name="author" aria-describedby="authorHelp" placeholder="Author del lbro" >
                                            <small id="authorHelp" class="form-text text-muted">Author del lbro.</small>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success" onclick="enviarUpdateLibro()" >Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>